#messages div {
    margin-bottom: 20px;
    white-space-collapse: preserve;
}

#messages div.system {
    padding: 0px 50px;
    opacity: 50%;
}

#messages div.assistant {
    display: block;
}

#messages div.user {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#messages div.tool {
    all: unset;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: gray;
    float:left;
}

#input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#input textarea {
    /* display */
    outline: none;
    border: none;
    border-radius: 5px;

    /* layout */
    width: 100%;
    padding: 0px;

    /* functionality */
    resize: none;    
}
