:root {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    white-space-collapse: preserve;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

body {
    margin: 0px;
}

/* LAYOUT */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

button:hover {
    opacity: 70%;
}

section {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 25px;
}

section :first-child {
    margin-top: 0px;
}

section :last-child {
    margin-bottom: 0px;
}
